<%= form_with(model: sample, local: true) do |form| %>
  <% if sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :audioFile %>
    <%= form.text_field :audioFile, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :locPhoto %>
    <%= form.text_field :locPhoto, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :temperature %>
    <%= form.text_field :temperature, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :altitude %>
    <%= form.text_field :altitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :gain %>
    <%= form.number_field :gain, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :recDevice %>
    <%= form.text_field :recDevice, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :addNotes %>
    <%= form.text_area :addNotes, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
